html, body {
  height: 100%;
}

.login-body {
  background-color: #85929D;
  height: 100%;
  width: 100%;
  display: table;
  
  .login-wrap {
    display: table-cell;
    vertical-align: middle;
  }
}

// tools
//----------

.tanzak-search-word {
  position:relative;

  .form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    padding-left: 40px;

    &:focus {
      outline: none;
       border-color: #ccc;
      box-shadow: none;
    }
  }

  .tanzak-search-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    color: #9c9c9c;
  }


}

.tanzak-search-btn-group {
  .btn {
    margin-right:3px;
    border-radius: 4px;
    
    &:not(:first-child):not(:last-child):not(.dropdown-toggle),
    &:first-child:not(:last-child):not(.dropdown-toggle),
    &:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
      border-radius: 4px;
    }
  }
}

.tanzak-search-categories {

  position: absolute;
  right: 0;
  top: 6px;

  .btn {
    border-width: 2px;
    color: #aaa;
    font-weight: bold;
    
    &:hover,
    &:focus {
      color: #fff;
      background-color: #85929D;
      border-color: #85929D;
    }
    &:active,
    &.active {
      color: #fff;
      background-color: #85929D;
      border-color: #85929D;
      box-shadow: none;
    }
  }
}

.tanzak-search-tags {
  .btn {
    color: #aaa;
    border-width: 2px;
    box-sizing: border-box;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #6e7982;
      background-color: #fff;
      border-color: #6e7982;
      box-shadow: none;
      box-sizing: border-box;
    }
    &:active,
    &.active {
      color: #6e7982;
      background-color: #fff;
      border-color: #6e7982;
      border-width: 2px;
      box-shadow: none;
      box-sizing: border-box;
    }
  }
}
